@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_ClientLayout1.cshtml";
}
@await Component.InvokeAsync("SliderAdvComponent")
<hr />
@await Component.InvokeAsync("DSSanPhamMoiComponent")
<hr />
<div class="row margin-bottom-40 ">
    <div class="sidebar col-md-3 col-sm-4">
        @await Component.InvokeAsync("Siderbar_SPBCComponent")
    </div>

    <div class="col-md-9 col-sm-8">
        @await Component.InvokeAsync("DSSanPhamDacTrungComponent")
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>

<script>
    function themgiohang(id) {
        $(document).ready(function () {
            $.ajax({
                url: '/GioHang/ThemGioHang',
                type: 'GET',
                data: { "idSP": id, "soLuong": 1 },
                success: function (c) {
                    alert(c);
                }

            });
        });
    }
</script>