@model IEnumerable<ElectricShop.Models.LoaiSanPham>


@foreach (var lsp in Model)
{
    <li><a  asp-controller="SanPham" asp-action="DanhSachSanPhamTheoLoai1" asp-route-id="@lsp.TenLoaiSPKhongDau"><i class="icon-chevron-right"></i>@lsp.TenLoaiSPCoDau</a></li>
}